# Ignore bundler config
/.bundle

# Ignore cache
.sass-cache
node_modules
.tmp

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.esproj
nbproject/private


# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea


